<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" type="text/css" href="bootstrap.css">
      <!--<link rel="stylesheet" type="text/css" href="bootstrap.min.css">-->

    <title>Ja Feel</title>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  </head>
  <body>
    <h1> QUERY: {{ query }} </h1>
    <script type="text/javascript">
      var bio_data_raw = '{{ bio_data }}'.replace(/&quot;/g,'"');
      var tweet_data_raw = '{{ tweet_data }}'.replace(/&quot;/g,'"');
      var bio_data = jQuery.parseJSON(bio_data_raw)
      var tweet_data = jQuery.parseJSON(tweet_data_raw)
      var tweets = tweet_data['tweets'];
      
      var dates = [];
      var feeling_data = [];
      var retweet_data = [];
      for (var i in tweets) {
        date_obj = new Date(tweets[i]['date']);
        
        var month = date_obj.getMonth() + 1;
        var hour = 0;
        var minute = 0;
        hr = date_obj.getHours();
        if (hr < 10) {
          hour = "0" + hr;
        } else {
          hour = hr;
        }
        min = date_obj.getMinutes();
        if (min < 10) {
          minute = "0" + min;
        } else {
          minute = min;
        }
        var year = date_obj.getFullYear() + "";
        year = year.substring(2);
        date = month + "/" + date_obj.getDate() + "/" + year + " at " + hour + ":" + minute;
        dates.push(date);
        feeling_data.push(tweets[i]['sentiment']['compound']);
        retweet_data.push(tweets[i]['retweet_count']);
      };
      var feeling_data = {
          labels: dates,
          datasets: [
            {
              fillColor: "rgba(0,0,0,0)",
              strokeColor: "rgba(151,187,205,1)",
              pointColor: "rgba(151,187,205,1)",
              pointStrokeColor: "#fff",
              data: feeling_data
            },
          ]
        };
      var retweet_data = {
          labels: dates,
          datasets: [
            {
              fillColor: "rgba(0,0,0,0)",
              strokeColor: "rgba(151,187,205,1)",
              pointColor: "rgba(151,187,205,1)",
              pointStrokeColor: "#fff",
              data: retweet_data
            }
          ]
        };
      window.onload = function() {
        var feeling_ctx = $("#feeling").get(0).getContext("2d");
        var retweet_ctx = $("#retweet").get(0).getContext("2d");
        var feeling_chart = new Chart(feeling_ctx).Line(feeling_data, {
          scaleShowVerticalLines: false
        });
        var retweet_chart = new Chart(retweet_ctx).Line(retweet_data, {
          scaleShowVerticalLines: false
        });
      };
    </script>

    <div style="width: 50%">
        <canvas id="feeling" height="450" width="800"></canvas>
    </div>

    <div style="width: 50%">
        <canvas id="retweet" height="450" width="800"></canvas>
    </div>

  </body>
</html>