<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" type="text/css" href="bootstrap.css">
      <!--<link rel="stylesheet" type="text/css" href="bootstrap.min.css">-->

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>

      <title>Ja Feel</title>

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type="text/javascript">
      google.charts.load('current', {'packages':['geochart']});
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {

        var data = google.visualization.arrayToDataTable([
          ['Country', 'Sentiment'],
          ['Germany', -0.3],
          ['United States', 0.3],
          ['Brazil', 0.2],
          ['Canada', 0.8],
          ['France', -0.8],
          ['RU', -0.4],
          ['Mexico', 0]
        ]);

        var options = {
          colorAxis: {minValue : -1, maxValue : 1, colors: ['#f44336', '#ffeb3b', '#8bc34a']},
          backgroundColor: 'transparent',
          defaultColor: '#fff9c4',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('map_div'));

        chart.draw(data, options);
      }
      </script>
  </head>

  <body style="background-color:#b3e5fc">
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              <a class="navbar-brand" href="#">Brand</a>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                  <ul class="nav navbar-nav">
                      <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                      <li><a href="#">Link</a></li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                              <li class="divider"></li>
                              <li><a href="#">One more separated link</a></li>
                          </ul>
                      </li>
                  </ul>
                  <form class="navbar-form navbar-left" role="search">
                      <div class="form-group">
                          <input class="form-control" placeholder="Search" type="text">
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="#">Link</a></li>
                  </ul>
              </div>
          </div>
      </nav>
      <!--h1> QUERY: {{ query }} </--h1-->
      <div id="map_div" style="height:500px" align="center" class="container-fluid"></div>
  </body>
</html>
